.banner{
    position: relative;
    width: 100%;
    background-image: url("../../Assets/pexels-alexandr-podvalny-1227513.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 50%;
    z-index: 2;
}
.bannerDark{
    position: relative;
    width: 100%;
    background-image: url("../../Assets/pexels-alexandr-podvalny-1227513.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerDark:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 65%;
    z-index: 2;
}


.text{
    width: 380px;
    height: 323px;
    text-align: center;
    position: relative;
    z-index: 3;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: white;
}

@media screen and (min-width: 2560px ) {
    .banner{
        height: 650px;
    }
    .bannerDark{
        height: 650px;
    }
    .text{
        margin: 164px 395px 163px 395px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 2559px) {
    .banner{
        height: 650px;
    }
    .bannerDark{
        height: 650px;
    }
    .text{
        margin: 164px 322px 163px 322px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .banner{
        height: 768px;
    }
    .bannerDark{
        height: 768px;
    }
    .text{
        margin: 89px 194px 88px 194px;
    }
}

@media screen and (max-width: 767px){
    .banner{
        height: 500px;
    }
    .bannerDark{
        height: 500px;
    }
    .text{
        width: 328px;
        height: 389px;
    }
}
