.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
}

.header__button{
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.button{
    margin-right: 10px;
}

.logo{
    margin-left: 60px;
    width: 104px;
}

@media screen and (min-width: 2560px ) {
    .logo{
        margin-left: 10px;
    }
    .header__button{
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .logo{
        margin-left: 32px;
    }
    .header__button{
        margin-right: 32px;
    }
}

@media screen and (max-width: 767px){
    .logo{
        margin-left: 16px;
    }
    .header__button{
        margin-right: 16px;
    }
}
