.input{
    width: 380px;
    height: 54px;
    background: #F8F8F8;
    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 50px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-indent: 16px;
}

@media screen and (min-width: 2560px ) {

}

@media screen and (min-width: 1024px) and (max-width: 2559px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (max-width: 767px) {
    .input {
        width: 328px;
    }
}

